@import '@scenario/ui/styles/commonToNode.css';

.nodeContainer{
    position: relative;
    box-sizing: border-box;
    background-clip: content-box; /* фон остаётся у исходного размера */
    border: 1px solid var(--color-delay);
    background: #2e2e2e;
    border-radius: 5px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.nodeContainer:hover{
    box-shadow: 0 0 7px var(--color-delay);
}


.nodeContainer[aria-selected="true"] {
    box-shadow: 0 0 7px var(--color-delay);
}

.timeDisplay {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-delay);
    padding: 8px 12px;
    text-align: center;
    user-select: none;
}







