@import '@scenario/ui/styles/commonToNode.css';

.container{
    position: relative;
    box-sizing: border-box;
    background-clip: content-box; /* фон остаётся у исходного размера */
    border: 1px solid var(--color-delay);
    background: transparent;
    border-radius: 5px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;

}

.source[aria-selected="true"]{
    background: var(--source-active-styles-bkg);
    box-shadow: var(--source-active-styles-box-shadow);
}
.target[aria-selected="true"]{
    background: var(--target-active-styles-bkg);
    box-shadow: var(--target-active-styles-box-shadow);
}

.container[aria-selected="true"] {
    box-shadow: 0 0 7px var(--color-delay);
}



.inputContainer{
    display: flex;
    gap: 5px;
    align-items: flex-end;
}


/* From Uiverse.io by mrhyddenn */
.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 150px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 30px;
    color: #fff;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 15px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 15px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}






