.container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.infoBlock{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.safetyText{
    color: rgb(241, 140, 22);
}