
.container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--color-bg);
    color: var(--color-text);

}

/* темы — ТОЛЬКО для этого компонента */
.container[data-theme="dark"] {
    --color-bg: #242424;
    --color-text: rgba(255,255,255,.87);
}
.container[data-theme="light"] {
    --color-bg: rgba(255,255,255,.87);
    --color-text: #242424;
}

.infoBlock{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.safetyText{
    color: rgb(241, 140, 22);
}