/* src/components/ChartItem.module.css */
.container {
    margin-bottom: 16px;
}

.header {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    margin: 0 0 6px 0;
    color: #111827; /* slate-900 */
}

.status {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 4px;
    opacity: .6;
}

.statusError {
    composes: status;
    color: #dc2626; /* red-600 */
    opacity: 1;
}

.chart {
    width: 100%;
}
