.chartTemplatePanelContainer{

    padding: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    flex-direction: row;
    gap: 10px;

    /* ключевое: не растягиваться, а занимать min-height */
    align-self: flex-start;    /* по поперечной оси (высота, если row-родитель) */
    height: auto;              /* на всякий случай */

    color: var(--color-text);
}

.templates{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.dataSourcePanel{
    grid-column: 2;
}


.container[data-theme="dark"] {
    --color-text: rgba(255,255,255,.87);
    border-left: 1px dashed rgba(255, 224, 190, 0.55);
}
.container[data-theme="light"] {
    --color-text: #242424;
    border-left: 1px dashed #454545;
}


