.container{
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1px solid #247abe;
    gap: 16px;
}

.headerToolBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

:global([data-theme="dark"]) .username {
    --color-text: #ffffff;
}
:global([data-theme="light"]) .username {
    --color-bg: #black;
}

.username{
    position: absolute;
    right: 20px;
    top: 3px;
}