.container{
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1px solid #247abe;
    gap: 16px;

    background-color: var(--color-bg);
    color: var(--color-text);
}

.container[data-theme="dark"] {
    --color-bg: #242424;
    --color-text: rgba(255,255,255,.87);
}
.container[data-theme="light"] {
    --color-bg: rgba(255,255,255,.87);
    --color-text: #242424;
}


.headerToolBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}




.container[data-theme="dark"] .username{
    --color-username: #ffffff;
}
.container[data-theme="light"] .username{
    --color-username: #black
}

.username{
    color: var(--color-username);
    position: absolute;
    right: 20px;
    top: 3px;
}