.container{
    position: relative;
    box-sizing: border-box;
    background-clip: content-box; /* фон остаётся у исходного размера */
    border: 1px solid #ffb700;
    background: transparent;
    border-radius: 5px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.inputContainer{
    display: flex;
    gap: 5px;

}

.inputContainer input{
    width: 100px;
    height: 20px;
    background: rgba(255, 255, 255, 0.21);
    font-variant-numeric: tabular-nums;
}


