@import '@ui/styles/scenario/commonToNode.css';

.container{
    position: relative;
    box-sizing: border-box;
    background-clip: content-box; /* фон остаётся у исходного размера */
    border: 1px solid var(--color-activity-system);
    background: transparent;
    border-radius: 5px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    min-width: 60px;
    min-height: 20px;
}
.source[aria-selected="true"]{
    background: var(--source-active-styles-bkg);
    box-shadow: var(--source-active-styles-box-shadow);
}
.target[aria-selected="true"]{
    background: var(--target-active-styles-bkg);
    box-shadow: var(--target-active-styles-box-shadow);
}
.name{
    position: absolute;
    top: -13px;
    left: 5px;
    font-size: 10px;
    color: var(--color-activity-system);
}

.container[aria-selected="true"] {
    box-shadow: 0 0 7px var(--color-activity-system);
}

