.customFlow :global(.react-flow__panel) {
    margin: 0;
    padding: 0;
    display: flex;
}


.rmb-panning {
    cursor: grabbing !important;
}


.containerScenarioMap{
    width: 100%;
    background-color: var(--map-background);
    color: var(--map-color);
}

.rightTopPanel{
    align-items: flex-start;
    pointer-events: none; /* Панель не перехватывает события мыши */
    max-height: 100%;
    height: calc(100% - 50px);
}

/* Контент внутри панели остается интерактивным */
.rightTopPanel > * {
    pointer-events: auto;
}

.bottomRightPanel{
    height: 50px;
    max-width: 100%;
    width: 100%;
    justify-content: flex-end;
    pointer-events: none; /* Панель не перехватывает события мыши */
}

/* Контент внутри панели остается интерактивным */
.bottomRightPanel > * {
    pointer-events: auto;
}

.topLeftPanel{
    align-items: flex-start;
    pointer-events: none; /* Панель не перехватывает события мыши */
    max-height: 100%;
    height: calc(100% - 50px);
}

.flowControls{
    display: flex;
    position: relative;
    color: #b15c05;
    height: 160px;
    gap: 5px;
}

.flowControls .controls{
    top: 0;
}
.flowControls .controls button{
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #717171;
}

.flowControls .controls button:hover{
    background: rgba(255, 255, 255, 0.49);
}

.flowControls .controls button:last-child{
    border-bottom: 1px solid rgba(113, 113, 113, 0);
}

