.customFlow :global(.react-flow__panel) {
    margin: 0;
    padding: 0;
    display: flex;
}

.flowControls{
    color: red;
    flex-direction: row; /* Делаем горизонтально */
    gap: 4px;
}

.rmb-panning {
    cursor: grabbing !important;
}


.containerScenarioMap{
    width: 100%;
    background-color: var(--map-background);
    color: var(--map-color);
}

.rightTopPanel{
    align-items: flex-start;
}

.bottomRightPanel{
    max-width: 100%;
    width: 100%;
    justify-content: flex-end;
}

