@import '@scenario/ui/styles/commonToNode.css';

.nodeContainer{
    position: relative;
    box-sizing: border-box;
    background-clip: content-box; /* фон остаётся у исходного размера */
    border: 1px solid var(--color-condition);
    background: transparent;
    border-radius: 5px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.nodeContainer:hover{
    box-shadow: 0 0 7px var(--color-condition);
}

.nodeContainer[aria-selected="true"] {
    box-shadow: 0 0 7px var(--color-condition);
}


.text{
    font-size: 17px;
    color: rgb(104, 165, 255);
}

.textIf{
    color: #e073ff;
}

.name{
    position: absolute;
    top: -13px;
    left: 5px;
    font-size: 10px;
    color: var(--color-condition);
}


