
.badge {
    pointer-events: all;           /* чтобы кликался */
    user-select: none;
    display: flex;
    width: auto;
    position: absolute;
    top: 0;
}
.selected {
    border-color: #fff;
}


.baseEdge {
    stroke-width: var(--edge-width, 1.5px) !important;
}

.baseEdge[aria-selected="true"] {
    stroke: var(--edge-selected-color, red) !important;
    filter: drop-shadow(0 0 4px var(--edge-selected-color, red));
}

.hovered {
    stroke: var(--edge-hovered-color, #6cc4ff) !important;
    filter: drop-shadow(0 0 4px var(--edge-hovered-color, #6cc4ff));
}