.coordinates{
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    top: -3px;
    left: 0;
    font-size: 8px;
    color: var(--coordinates-color, #515151);
}

/* Стили для Handle (точек соединения) */
.source {
    width: 5px !important;
    height: 5px !important;
    transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease;
    opacity: 1;
}

.target {
    width: 5px !important;
    height: 5px !important;
    transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease;
    opacity: 0; /* По умолчанию target скрыты */
}

/* Показываем точки, которые помечены как валидные для соединения */
.source[aria-selected="true"],
.target[aria-selected="true"] {
    opacity: 1 !important;
}

/* Увеличиваем точки при наведении непосредственно на контейнер ноды */
:hover > .source,
:hover > .target {
    width: 10px !important;
    height: 10px !important;
}