
.badge {
    pointer-events: all;           /* чтобы кликался */
    user-select: none;
    display: flex;
    width: auto;
    position: absolute;
    top: 0;
}
.selected {
    border-color: #fff;
}

.baseEdge{
    stroke-width: 1.5px !important;
}

.baseEdge[aria-selected="true"] {
    stroke: red !important;
    filter: drop-shadow(0 0 4px rgb(255, 0, 0));
}

.hovered{
    stroke: #6cc4ff  !important;
    filter: drop-shadow(0 0 4px #6cc4ff);
}
